html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f5f2;
}

.container {
    display: flex;
    max-width: 100%;
    padding: 20px;
    justify-content: space-around;
}

.note-creation-section, .notes-display-section {
    flex: 1;
    padding: 10px;
    max-width: 600px;
    margin: auto;
}

.title {
    font-size: 24px;
    color: #363636;
}

.input, .textarea, .search-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-sizing: border-box;
}

.textarea {
    min-height: 150px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #209cee;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    filter: brightness(0.85);
}

.picker-and-pin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.color-picker-container,
.pin-container {
    display: flex;
    align-items: center;
}

.color-picker-container label,
.pin-container label {
    margin-right: 5px;
    font-size: 14px;
}

.color-picker {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 30px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.notes-list {
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.note {
    background-color: #fff;
    padding: 10px;
    margin: 10px auto; 
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-left: 5px solid transparent;
    max-width: 600px; 
    word-wrap: break-word;
    overflow: hidden;
    min-width: 250px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.note-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.note-footer-right .date {
    margin: 10px;
}

.edit-button, .delete-button, .pinned {
    border: none;
    background: none;
    cursor: pointer;
    color: #333; 
}

.edit-button:hover, .delete-button:hover {
    color: #666;
}

.pinned {
    color: rgba(46, 0, 0, 0.696);
}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}