body {
  background: #f6f7fc;
  }
  
.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slides {
  display: flex;
  aspect-ratio: 16/9;
}

.slider-wrapper .slides {
  transition: all 0.4s ease;
}

.slides img {
  flex: 1 0 100%;
  object-fit: cover;
}

/* buttons */

/*  */
button{
  background: none;
  border: none;
}

button:hover {
  opacity: 100%;
}
/* button:hover::after { */
  /* opacity: 100%; */
/* } */


.round {
  position:absolute;
  border-radius: 50%;
  top:50%;
  z-index: 10;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity ease 250ms;
}


.prev{
  left:3rem;
  transform: translate(-50%, -50%);
}
.next{
  right: 3rem;
  transform: translate(50%, -50%); 
}

/* dots */
.dots-container {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform:translateX(-50%);
  z-index: 1;
}

.dots-container .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity ease 250ms;
}

.dots-container .dot:hover {
  opacity: 100%;
}

